@{
    string username = User.Identity.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/Book_filter_FILL0_wght400_GRAD0_opsz48.svg">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            <h2>Book store</h2>
        </div>
        <ul class="nav-link">
            <li><a class="active" href="/Home/Index">Home</a></li>
            <li><a href="/Home/About">About</a></li>
            @if (User.Identity.IsAuthenticated) {
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a href="#">Admin <i class="fa fa-caret-down"></i></a>

                        <ul class="dropdown-nav-link" style="width: 180px; padding: 5px">
                            <li><a href="/Genre/Add">Add Genre</a></li>
                            <li><a href="/Book/Add">Add Book</a></li>
                            <li><a href="/Book/BookList">Book List</a></li>
                            <li><a href="/UserAuthentication/Logout">Logout</a></li>
                        </ul>
                    </li>
                }
                else if (User.IsInRole("User"))
                {
                    <li class="nav-item">
                        <a class="nav-link gap-1" href="/CartItems/GetUserCart">
                            Cart
                            <span id="cartCount" class="badge bg-black text-white">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"><b>Hello @username! </b><i class="fa fa-caret-down"></i></a>

                        <ul class="dropdown-nav-link" style="width: 180px; padding: 5px">
                            <li><a href="/Order/OrderList">Orders</a></li>
                            <li><a href="/UserAuthentication/Logout">Logout</a></li>
                        </ul>
                    </li>
                }
            }
            else
            {
                <li><a href="/UserAuthentication/Login">Login</a></li>
                <li><a href="/UserAuthentication/Register">Register</a></li>
            }
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        &#169; @DateTime.UtcNow.Year Book Store
    </footer>

    <script src="~/lib/bootstrap/dist/js//bootstrap.min.js"></script>
</body>

<script>
    loadCartCount();
    async function loadCartCount() {
        try {
        var response = await fetch(`/CartItems/GetTotalItemInCart`);
          console.log(response)
            if (response.status == 200) {
                var result = await response.json();
                var cartCountEl = document.getElementById("cartCount");
                cartCountEl.innerHTML = result;
            }
        }
        catch (err) {
            console.log(err);
        }
    }
</script>
</html>